div.digiclub{
    width: 1300px;
    height: 384px;
    padding: 16px;
    background-color: #941B80;
    position: relative;
    right:  calc(50% - 1300px / 2);
    margin-top: 24px;
    border-radius: 16px;
}
div.digiclub>div.digiclub-right{
    width: 32%;
    height: 352px;
    padding-top: 24px;
    display: inline-block;
    vertical-align: top;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top{
    width: 100%;
    height: 110px;
    padding-right: 24px;
    background-color: transparent;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>a:nth-of-type(1){
    width: auto;
    height: auto;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>a:nth-of-type(1)>img{
    width: 128px;
    height: 32px;
    object-fit: contain;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>span{
    position: relative;
    right: -132px;
    top: 25px;
    font-family: digikala;
    font-size: 14px;
    color: white;
    font-weight: 400;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>a:nth-of-type(2){
    width: 105px;
    height: 35px;
    margin-top: 12px;
    padding: 4px 16px;
    border: 0.8px solid white;
    border-radius: 8px;
    position: relative;
    bottom: -30px;
    text-align: center;
    cursor: pointer;
    background-color: orange;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>a:nth-of-type(2)>span{
    font-size: 12px;
    color: white;
    font-weight: 600;
    position: relative;
    top: -8px;
}
div.digiclub>div.digiclub-right>div.digiclub-right-top>a:nth-of-type(2)>svg{
    position: relative;
    top: 2px;
    right: 3px;
}
div.digiclub>div.digiclub-right>div.digiclub-right-bottom{
    width: 100%;
    height: 270px;
    background-image: url('../../images/logo/digiplus-logo.png');
    background-repeat: no-repeat;

    background-size: contain;
    position: relative;
    bottom: 50px;
}
div.digiclub>div.digiclub-left{
    width: 67%;
    height: 352px;
    background-color: white;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    border-radius: 8px;
    padding: 0 16px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top{
    width: 817.550px;
    height: 35px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    margin: 16px 0;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>div{
    width: fit-content;
    height: inherit;
    background-color: white;
    position: absolute;
    right: 0;
    
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>div>svg{
    position: relative;
    top: 5px;
    margin-left: 4px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>div>h4{
    font-size: 16px;
    font-family: 700;
    display: inline-block;
    position: relative;
    bottom: 3px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>a{
    position: absolute;
    left: 0; 
    display: block;
    width: fit-content;
    height: inherit;
    background-color: white;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>a>span{
    color: #b12ba4;
    font-size: 12px;
    font-weight: 700;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>a>svg{
    position: relative;
    bottom: -7px; 
    right: 0;
    padding-left: 3px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-top>a>svg>path{
    transform: scale(0.75,0.75);
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom{
    width: 100%;
    height: 265px;
    background-color: transparent;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(1){
    width: 100%;
    height: calc(265px / 2);
    background-color: transparent;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(1)>div{
    display: inline-block;
    width: 116px;
    height: 120px;
    vertical-align: top;
    position: relative;
    top: -2px;
    margin-left: 20.2px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(1)>div:nth-last-child(1){
    margin-left: 0;
}

div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(1)>div>a{
    width: 100%;
    height: 100%;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(1)>div>a>img{
    width: inherit;
    height: inherit;
    object-fit: contain;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(2){
    width: 100%;
    height: calc(265px / 2);
    background-color: transparent;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(2)>div{
    display: inline-block;
    width: 116px;
    height: 120px;
    position: relative;
    top: 13px;
    vertical-align: top;
    margin-left: 20.2px;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(2)>div:nth-last-child(1){
    margin-left: 0;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(2)>div>a{
    width: 100%;
    height: 100%;
}
div.digiclub>div.digiclub-left>div.digiclub-left-bottom>div:nth-child(2)>div>a>img{
    width: inherit;
    height: inherit;
    object-fit: contain;
}